{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{username}}'s Todolist</title>
{% endblock meta %}

{% block content %}
<style>
  * {
    box-sizing: border-box;
  }
    /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
    /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
    width: 150px;
    text-align: center;
    background-color: #c83032;
  }
  body {
    background-color: #cc3336;
    color: #fefdfa;
  }
  h1 {
    font-size: 25px;
  }
  h3 {
    font-weight: normal;
  }
  a {
    color: rgb(40, 59, 229);
  }
  button {
    margin-top: 15px;
  }
  .button#test{
    background-color: #c83032;
    color: #fefdfa;

    border: none;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    margin-top: 15px;
    padding: 8px;
    width: 200px;
  }
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper#content {
  }
  .content {

  }
  .content#button {
    padding: 15px;
  }
  .content#title {

  }
  .content#subtitle{
    padding-bottom: 15px;
  }
  .content#logout {
    padding-top: 10px;
  }
</style>
<div class = "wrapper">

    <div class = "content" id = "subtitle">
      <h1>A simple todolist.</h1>
      <h3>hi {{username}} 👋</h3>
    </div>

    <div>
      <div class = "row">
        {% comment %} Add the data below this line {% endcomment %}
        {% for todo in list_todo %}
        <div class = "column">
          <div class = "card">
            <h3>{{todo.title}}</h3>
            <p>{{todo.description}}</p>
            <p>{{todo.date}}</p>
            <a href="{% url 'todolist:delete_task' todo.pk %}", class="button">Delete</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add new tasks
    </button>

    <div class = "content" id = "logout">
      Are you done?
      <a href="{% url 'todolist:logout' %}">
        Logout
      </a>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form_task">
            {% csrf_token %}
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="color:black">Title:</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Add your task!">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label" style="color:black">Description:</label>
              <textarea class="form-control" id="description" name="description" placeholder="Add the description!"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Create task</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}