{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daffa's Homepage</title>
{% endblock meta %}

{% block content %}
<style>
    h1 {
      color:white;
      font-weight: 500;
      margin: 0;
    }
    h2, h3 {
      color:white;
      font-weight: 100;
    }
    body {
      background-color:#ff0d7b;
      font-family: 'Quicksand', sans-serif;
      margin: 100px 150px;
    }
</style>
  <h1 style=font-size:100px>Hello everyone!</h1>
  <h2 style=font-size:30px>This is my assignment website</h2>
{% endblock content %}