{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daffa's Homepage</title>
{% endblock meta %}

{% block content %}
<style>
  body {
    background-color: #ff0d7b;
  }
  div.content {
    margin: 50px;
  }
  div#title {
    color: white;
    font-size: 30px;
  }
  div#subtitle {
    color: white;
    font-size: 20px;
  }
  </style>

<div class = "content" id = "title">
  <h1>Hello everyone!</h1>
</div>
<div class = "content" id = "subtitle">This is my assignment website</div>
{% endblock content %}