{% load static %}
<!DOCTYPE html>
<html lang="en">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  <!-- www.java2s.com/Code/HTMLCSS/Tags/tableheaderfontweightbold.htm -->
  <style>
    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
    }
    td {
      font-weight: normal;
      text-align: center;
    }
    </style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  {% block content %}
  {% endblock content %}
</body>

</html>